@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bromello&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dellamode&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  bottom: 0;
  width: 100%;
  /* position: fixed; */
}

main {
  padding-top: 3rem;
  flex-grow: 1;
}


.font-dellamode {
  font-family: 'Dellamode', cursive;
}